//
// Footer navigation links
//

& when (@media-common = true) {
    .page-footer {
        .footer.content {
            a,
            a:visited {
                color: #9dd4ff;
            }

            a:hover,
            a:active {
                color: #ffffff;
                text-decoration: underline;
            }
        }
    }
}
